In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('images/dataset/mean.csv')

In [24]:
df

,H,S,V,L,A,B,C,M,Y,K,label
0,4.333333,100.333333,156.333333,128.166667,145.500000,140.166667,0.0,88.014557,100.051811,0.386928,spring
1,8.833333,114.166667,161.000000,135.000000,142.833333,144.333333,0.0,84.456776,114.167244,0.368627,spring
2,9.500000,128.500000,189.000000,151.166667,147.333333,151.333333,0.0,89.266550,128.540810,0.258824,spring
3,8.666667,123.000000,176.166667,141.166667,147.333333,149.500000,0.0,89.126756,123.186408,0.309150,spring
4,2.333333,72.666667,162.666667,140.833333,142.000000,135.166667,0.0,66.929817,72.699023,0.362092,spring
...,...,...,...,...,...,...,...,...,...,...,...
636,60.500000,78.166667,172.833333,146.166667,145.833333,136.000000,0.0,74.598958,76.727649,0.322222,winter
637,32.833333,65.000000,176.166667,155.000000,141.500000,135.333333,0.0,60.384376,64.427750,0.309150,winter
638,5.166667,103.833333,178.166667,143.833333,148.500000,143.333333,0.0,86.345881,103.731195,0.301307,winter
639,4.500000,75.000000,166.833333,145.000000,141.166667,137.500000,0.0,64.417570,74.894508,0.345752,winter
640,5.500000,81.833333,189.333333,162.333333,143.833333,140.500000,0.0,66.443759,81.665740,0.257516,winter

In [25]:
df[df['label'] == 'summer']

,H,S,V,L,A,B,C,M,Y,K,label
172,37.000000,111.833333,151.833333,126.333333,143.000000,142.833333,0.0,88.715955,110.904449,0.404575,summer
173,6.333333,95.000000,166.500000,140.333333,143.333333,141.000000,0.0,78.045125,94.986296,0.347059,summer
174,2.000000,55.666667,164.333333,148.333333,138.833333,133.500000,0.0,52.378958,55.723644,0.355556,summer
175,8.000000,79.833333,164.500000,145.333333,139.166667,139.166667,0.0,60.066964,79.876567,0.354902,summer
176,34.333333,72.500000,174.500000,152.166667,142.000000,136.833333,0.0,64.183117,71.932427,0.315686,summer
...,...,...,...,...,...,...,...,...,...,...,...
308,175.333333,58.166667,147.666667,132.333333,140.166667,129.833333,0.0,58.233319,50.612433,0.420915,summer
309,177.666667,75.833333,167.166667,142.666667,144.666667,132.833333,0.0,75.685735,71.018687,0.344444,summer
310,4.166667,57.666667,184.666667,166.500000,138.833333,135.333333,0.0,50.023828,57.729555,0.275817,summer
311,9.666667,99.666667,158.166667,134.666667,140.000000,143.500000,0.0,68.661905,99.418523,0.379739,summer
312,3.833333,63.833333,192.333333,168.833333,142.166667,136.666667,0.0,56.390354,63.711417,0.245752,summer

In [26]:
df[df['label'] == 'fall']

,H,S,V,L,A,B,C,M,Y,K,label
313,8.833333,100.166667,164.500000,139.000000,142.333333,145.333333,0.0,70.617393,100.333620,0.354902,fall
314,4.666667,94.833333,169.333333,142.166667,144.333333,139.833333,0.0,77.494324,94.656138,0.335948,fall
315,4.500000,77.000000,165.833333,144.833333,140.666667,136.833333,0.0,63.803623,76.853606,0.349673,fall
316,5.500000,80.833333,165.833333,143.666667,140.666667,138.166667,0.0,68.371044,80.720678,0.349673,fall
317,9.333333,87.500000,168.500000,147.333333,139.166667,141.666667,0.0,63.471767,87.313546,0.339216,fall
...,...,...,...,...,...,...,...,...,...,...,...
441,36.833333,56.000000,200.500000,182.333333,138.000000,137.333333,0.0,43.797706,54.376338,0.213725,fall
442,34.166667,96.333333,163.333333,137.333333,143.500000,138.833333,0.0,79.276993,96.228663,0.359477,fall
443,8.333333,123.166667,151.000000,120.500000,145.166667,147.500000,0.0,91.596622,123.097429,0.407843,fall
444,8.166667,95.500000,156.166667,132.166667,142.000000,143.166667,0.0,70.784589,95.596989,0.387582,fall
445,4.000000,84.000000,161.500000,136.500000,143.666667,138.333333,0.0,73.711373,83.797050,0.366667,fall

In [27]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['label'] = encoder.fit_transform(df['label'].values)

In [ ]:
# spring 1 summer 2 winter 3 fall 0

In [31]:
df.iloc[313]

H          8.833333
S        100.166667
V        164.500000
L        139.000000
A        142.333333
B        145.333333
C          0.000000
M         70.617393
Y        100.333620
K          0.354902
label      0.000000
Name: 313, dtype: float64

In [5]:
df

,H,S,V,L,A,B,C,M,Y,K,label
0,4.333333,100.333333,156.333333,128.166667,145.500000,140.166667,0.0,88.014557,100.051811,0.386928,1
1,8.833333,114.166667,161.000000,135.000000,142.833333,144.333333,0.0,84.456776,114.167244,0.368627,1
2,9.500000,128.500000,189.000000,151.166667,147.333333,151.333333,0.0,89.266550,128.540810,0.258824,1
3,8.666667,123.000000,176.166667,141.166667,147.333333,149.500000,0.0,89.126756,123.186408,0.309150,1
4,2.333333,72.666667,162.666667,140.833333,142.000000,135.166667,0.0,66.929817,72.699023,0.362092,1
...,...,...,...,...,...,...,...,...,...,...,...
636,60.500000,78.166667,172.833333,146.166667,145.833333,136.000000,0.0,74.598958,76.727649,0.322222,3
637,32.833333,65.000000,176.166667,155.000000,141.500000,135.333333,0.0,60.384376,64.427750,0.309150,3
638,5.166667,103.833333,178.166667,143.833333,148.500000,143.333333,0.0,86.345881,103.731195,0.301307,3
639,4.500000,75.000000,166.833333,145.000000,141.166667,137.500000,0.0,64.417570,74.894508,0.345752,3
640,5.500000,81.833333,189.333333,162.333333,143.833333,140.500000,0.0,66.443759,81.665740,0.257516,3

In [6]:
df['label'].unique()

array([1, 2, 0, 3])

In [9]:
corr = df.corr()

In [10]:
corr['label'].sort_values(ascending=False)

label    1.000000
H        0.149271
K        0.123910
L       -0.022811
V       -0.123910
A       -0.163077
M       -0.196084
S       -0.273665
Y       -0.274011
B       -0.287097
C             NaN
Name: label, dtype: float64

In [12]:
spring = pd.read_csv('images/dataset/mean_spring.csv')
summer = pd.read_csv('images/dataset/mean_summer.csv')
fall = pd.read_csv('images/dataset/mean_fall.csv')
winter = pd.read_csv('images/dataset/mean_winter.csv')

In [13]:
spring.describe()

,H,S,V,L,A,B,C,M,Y,K
count,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.0,172.000000,172.000000,172.000000
mean,22.775194,84.878876,172.595930,148.589147,141.831395,139.979651,0.0,66.964767,84.178079,0.323153
std,37.967273,18.115085,13.984455,13.555393,2.770047,4.638218,0.0,11.932301,18.852211,0.054841
min,1.333333,34.333333,137.666667,116.833333,132.833333,129.666667,0.0,32.818911,32.176857,0.179739
25%,6.166667,72.125000,163.208333,140.291667,140.291667,136.958333,0.0,59.055901,71.650889,0.286928
50%,8.000000,81.000000,172.750000,147.833333,141.916667,139.500000,0.0,66.281389,80.917502,0.322549
75%,11.041667,99.166667,181.833333,157.708333,143.208333,142.958333,0.0,74.155093,99.036339,0.359967
max,176.166667,134.333333,209.166667,186.000000,150.500000,153.500000,0.0,96.856749,134.420078,0.460131

In [14]:
fall.describe()

,H,S,V,L,A,B,C,M,Y,K
count,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.0,133.000000,133.000000,133.000000
mean,13.008772,98.515038,166.098997,139.973684,142.741855,142.426065,0.0,74.921798,98.255650,0.348631
std,20.450660,19.827045,14.143609,14.407297,2.415880,4.738330,0.0,12.305029,20.210398,0.055465
min,1.833333,56.000000,122.333333,99.500000,137.333333,130.166667,0.0,43.797706,49.963332,0.193464
25%,6.333333,86.333333,157.166667,130.666667,141.166667,138.833333,0.0,66.242731,85.330009,0.307843
50%,8.333333,95.500000,166.333333,140.000000,143.000000,142.000000,0.0,75.359062,95.596989,0.347712
75%,10.166667,112.500000,176.500000,149.833333,144.333333,145.166667,0.0,82.792856,112.552735,0.383660
max,174.333333,158.000000,205.666667,182.333333,148.500000,154.500000,0.0,104.113678,158.060184,0.520261

In [15]:
summer.describe()

,H,S,V,L,A,B,C,M,Y,K
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.0,141.000000,141.000000,141.000000
mean,35.074468,78.143026,165.804965,144.836879,140.862884,137.910165,0.0,63.857513,77.029454,0.349784
std,51.363413,18.770582,13.230196,12.756549,2.763300,4.680444,0.0,12.344076,19.569644,0.051883
min,0.833333,40.666667,134.666667,114.333333,134.166667,129.833333,0.0,38.295321,37.613817,0.198693
25%,6.000000,63.000000,157.500000,136.833333,139.000000,134.166667,0.0,56.082565,62.089363,0.316340
50%,8.833333,74.666667,166.166667,145.333333,140.666667,137.666667,0.0,61.341142,72.721498,0.348366
75%,35.666667,90.666667,174.333333,152.166667,142.833333,141.000000,0.0,70.812837,90.868061,0.382353
max,177.666667,136.500000,204.333333,181.500000,147.333333,152.500000,0.0,98.284588,136.589292,0.471895

In [16]:
winter.describe()

,H,S,V,L,A,B,C,M,Y,K
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.0,195.000000,195.000000,195.000000
mean,28.652137,82.373504,163.793162,141.538462,141.561538,138.614530,0.0,67.230498,81.524290,0.357674
std,41.947281,19.239454,16.159880,15.694931,2.676245,4.427343,0.0,12.608856,20.125662,0.063372
min,2.000000,36.500000,86.333333,82.000000,131.833333,128.000000,0.0,36.393903,27.027962,0.193464
25%,6.250000,68.333333,156.833333,133.833333,140.000000,135.750000,0.0,59.002403,67.328562,0.321569
50%,8.500000,81.333333,165.500000,143.000000,141.833333,138.500000,0.0,67.146823,81.318176,0.350980
75%,32.833333,95.000000,173.000000,151.500000,143.083333,141.666667,0.0,75.063923,94.826347,0.384967
max,177.833333,156.000000,205.666667,177.333333,148.500000,155.000000,0.0,103.059213,156.118765,0.661438

In [18]:
df[df['label'] == 0].median()

H          8.333333
S         95.500000
V        166.333333
L        140.000000
A        143.000000
B        142.000000
C          0.000000
M         75.359062
Y         95.596989
K          0.347712
label      0.000000
dtype: float64

In [19]:
df[df['label'] == 1].median()

H          8.000000
S         81.000000
V        172.750000
L        147.833333
A        141.916667
B        139.500000
C          0.000000
M         66.281389
Y         80.917502
K          0.322549
label      1.000000
dtype: float64

In [21]:
df[df['label'] == 2].median()

H          8.833333
S         74.666667
V        166.166667
L        145.333333
A        140.666667
B        137.666667
C          0.000000
M         61.341142
Y         72.721498
K          0.348366
label      2.000000
dtype: float64

In [22]:
df[df['label'] == 3].median()

H          8.500000
S         81.333333
V        165.500000
L        143.000000
A        141.833333
B        138.500000
C          0.000000
M         67.146823
Y         81.318176
K          0.350980
label      3.000000
dtype: float64